@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/variables';

@import  './base/base';
@import './base/animations';
@import './base/typography';
@import './base/utilities';

@import './components/cursor';
@import './components/counter';
@import './components/bg-elements';
@import './components/icons';
@import './components/team-member';
@import './components//client-box';
@import './components/form';
@import './components//buttons';

@import './layout/navigation';
@import './layout/header';
@import './layout/story-mode';
@import './layout/footer';

@import './pages/homepage';