.bg-element{
    position: absolute;
   &__transition{
    transition: transform 0.3s ease-out;

   }
    &__clock{
        top: 15%;
        left:15%;
        width:12rem;

        @include responsive(sm){
            left: 80%;
             width:10rem;
         }
        @include responsive(xs){
            width:8rem;
        }
    }
    &__plant{
        bottom: 15rem;
        left: 15%;
        width: 15rem;

        @include responsive(lg){
            display: none;
        }
    }

    &__light{
        right: 10vw;
        top: -7rem;

        @include responsive(lg){
            top: -10rem;
            
        }

        @include responsive(md){
            right: 0%;
        }
        @include responsive(sm){
            right: 10%;
        }
        
    }
    &__downwave{
        bottom: 0;
        left: 0;
        width: 100%;

        svg{
            fill:$color-yellow-primary;
        }
    }
    // &__street-light{
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    // }

    &__light-yellow-wave{
        bottom: -1%;
        left: 0;
        width: 100%;
    }
    &__lamp-only-left{
        left: -7%;
        bottom: 0;

        @include responsive(lg){
            left: -15%;
        }

        @include responsive(md){
            left: -15%;
        }

        @include responsive(sm){
            left: -40%;
            width: 85%;
        }
    }
    &__bench{
        bottom: 0;
        right: 0;
        filter: grayscale(1);
        width: 28rem;

        @include responsive(sm){
            display: none;
        }
    }
    &__white-light{
        top: 0;
        left: 15rem;
        
        transform: translateY(-20%);

        svg{
            width: 35rem;
        }

        @include responsive(sm){
            top:-6%;
            left: -15rem;
        }
    }
    &__topwave{
        top: -1%;
        left: 0;
        width: 100%;
        
        @include responsive(md){
            top:-3%;
        }
    }
    &__plant-bottom{
        bottom: 0;
        right: 0;
        width: 30rem;
        z-index: 20;
        @include responsive(sm){
            width: 35%;
            right: auto;
            left: 0;
        }
    }
    &__dove1{
        left: 5%;
        top: 0;
        filter: brightness(5);
    }
    &__dove2{
        top: 15rem;
        right: 3%;
        filter: brightness(5);
    }
    &__plant3{
        bottom: 0;
        left: 5%;
        z-index: 20;
        filter: grayscale(1);
        svg{
            width: 10rem;
        }

        @include responsive(sm){
            left: auto;
            right: 5%;
        }
    }
    &__black-wave{
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        svg{
            width: 100%;
            transform: rotateX(180deg);
            fill: $color-dark-1;
        }

        @include responsive(sm){
            bottom: -2px;
        }
    }
    &__plant-gray{
        right: 10%;
        bottom: 15rem;
        z-index: 1;
        filter: grayscale(1);
        width: 15rem;
    }
    &__lamp-only{
        right: -200px;
        bottom: -5rem;
    }
    &__circle-1{
        top: 0;
        left: 0;
        z-index: 0;
        width: 40rem;
        &--small{
            width: 20rem;
        }
    }
    &__circle-2{
        top: -6rem;
        right: 0;
        z-index: 0;
        width: 40rem;
    }
    &__circle-3{
        top: -6rem;
        left: 0;
        transform: rotateY(180deg);
        width: 35rem;
        z-index: 0;
    }
    &__rect-2{
        bottom: 2rem;
        width: 8rem;
        left: 0;
        &--right{
            right: 0;
            left: auto;
            top: 50%;
            bottom: 0;
            width: 6rem;
        }

        @include responsive(sm){
            left: auto;
            right: 0;
        }
    }
    &__rect-3{
        top: -10vh;
        width: 15rem;
        right: 0;

        @include responsive(sm){
            left: 0;
            right: auto;
        }
    }
    &__linear-wave{
        bottom: 0;
        left: 0;
        z-index: 0;
        width: 100%;
    }
&__custom-circle{
    width: 10rem;
    height: 10rem;
    background-color: $color-white;
    border-radius: 50%;
    opacity: 0.4;
    &--1{
        right: 5vw;
        top:15rem
    }
    &--2{
        left: 5vw;
        bottom:0vh;

        @include responsive(sm){
            bottom: -20vh;
        }
    }
}

&__custom-triangle{
    width: 10rem;
    height: 10rem;
   // clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: $color-yellow-light;
    opacity: 0.8;
    left: 12vw;
    bottom: -25vh;

    @include responsive(sm){
        bottom: -40vh;
    }
}
&__custom-square{
    width: 7rem;
    height: 7rem;
    background-color: $color-yellow-primary;
    opacity: 0.7;
    right: 15vw;
    top: -10rem;
    
}
}

.vase-stand{
    position: relative;
    border-bottom: 1.5px solid $color-white;
    width: 100%;
    margin-top: 8rem;
    z-index: 10;

    .bg-element__vase{
        right: 0;
        bottom: 1px;
        width: 15rem;
        filter: grayscale(1) brightness(10);
    }
}