.about-section{
    background-color: $color-white;
}
.how-we-work-intro{
    background-color: $color-yellow-light;
    @include flex-all-center;
}

.domain-section{
    background-color: $color-dark;
    padding-bottom: 25rem;

}

.technology-section{
    background-color: $color-dark-1;
   
}

.team-section{
    background-color: $color-white;
}

.client-section{
    background-color: $color-yellow-light;
    min-height: 100vh;

    a{
        height: 100%;
        display: block;
    }
}


