.about-section{
    background-color: $color-white;
}
.how-we-work-intro{
    background-color: $color-yellow-light;
    @include flex-all-center;
}
.section{
    @include flex-all-center;
}
.domain-section{
    background-color: $color-dark;

    @include responsive(lg){
        padding-bottom: 20rem;
    }
}

.technology-section{
    background-color: $color-dark-1;
   
    @include responsive(lg){
        padding: 6rem 0 10rem;
    }
}

.team-section{
    background-color: $color-white;
}

.client-section{
    background-color: $color-yellow-light;

    a{
        height: 100%;
        display: block;
    }
}


