
.story-section{
    height: 100vh;
    width: 100%;
    position: relative;
    //scroll-snap-align: start;

    @include responsive(md){
        padding: 10rem 0;
    }

    @include responsive(xs){
        padding: 7rem 0;
    }
    &__intro{
        height: 100vh;
    }
    &__1{
        background-color: $color-yellow-primary;
    }
    &__2{
        background-color: $color-yellow-light;
       // padding-top: 10rem;
    }
    &__3{
        background-color: $color-yellow-primary;
       // padding-top: 25vh;
    }
    &__4{
        background-color: $color-yellow-light;
       // padding-top: 20vh;
       // height: 110vh;
    }
    &__5{
        background-color: $color-yellow-primary;
        //padding-top: 25vh;
    }
    &__buttons{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 4rem 0;
        z-index: 50;
        display: none;
        animation: fade_up 500ms cubic-bezier(0.77, 0, 0.175, 1) both;
        &.show{display: block;}
    }
}

.story-img{
    position: relative;
    z-index: 10;
    width: 80%;
    max-width: 50rem;
    // &__2{
    //     margin-top: 15vh;
    // }
    &__4{
        margin-top: 10vh;
    }

    @include responsive(md){
        margin-top: 5rem;
    }
}

