.footer{
    background-color: $color-dark-1;
    min-height: 100vh;
    position: relative;
    padding: $section-padding;
    overflow: hidden;

    &__content{
        margin-top: 6rem;
        position: relative;
        z-index: 10;
    }

    &__contact{
        margin-top: 1rem;

        &-item{
            border-bottom: 1px solid rgba($color-yellow-light,0.05);
            padding: 0.2rem 0;

            &-text{
                font-size: 1.6rem;
                font-weight: 600;
                color: $color-yellow-light;
            }
        }
    }
}