.header {
  min-height: 100vh;
  position: relative;
  background-color: $color-yellow-light;
  @include flex-all-center;
  overflow: hidden;
  z-index: 2;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .shape {
    position: absolute;
    transition: all 0.4s;
    bottom: -10vh;
    //mix-blend-mode: exclusion;

    &__animate {
      &--normal {
        animation: move_up_normal 20s linear infinite;
      }
      &--pulse {
        animation: move_up_pulse 20s linear infinite;
      }
      &--rotate {
        animation: move_up_rotate 20s linear infinite;
      }
      &--rotate-half {
        animation: move_up_rotate_half 20s linear infinite;
      }
      &--rotate-fast {
        animation: move_up_rotate_fast 20s linear infinite;
      }
    }

    &__circle {
        border-radius: 50%;

        &--small{
            height: 1rem;
            width: 1rem;

            &-1{
                left: 2%;
                background-color: $color-yellow-dark;
                animation-delay: 0.5s;
                animation-duration: 2s;
            }
            &-2{
                right: 2%;
                background-color: $color-blue-primary;
                animation-delay: 1s;
                animation-duration: 3s;
            }
            &-3{
                right: 8%;
                background-color: $color-dark;
                animation-delay: 0s;
                animation-duration: 3.5s;
            }
        }
        &--medium{
            height: 3rem;
            width: 3rem;

            &-1{
                left: 7%;
                background-color: $color-dark;
                animation-delay: 0s;
                animation-duration: 5s;
            }
            &-2{
                right: 9%;
                background-color: $color-light-grey;
                animation-delay: 1s;
                animation-duration: 4s;
            }
        }
        &--big{
            height: 13rem;
            width: 13rem;
            opacity: 0.2;

            &-1{
                left: 10%;
                background-color: $color-light-grey;
                animation-delay: 0s;
                animation-duration: 50s;
            }
            &-2{
                height: 10rem;
                width: 10rem;
                right: 12%;
                background-color: $color-yellow-primary;
                animation-delay: 10s;
                animation-duration: 70s;
                bottom: -10rem;
            }
        }
    }

    &__square {
        &--big{
            height: 10rem;
            width: 10rem;
            opacity: 0.2;

            &-1{
                left: 3%;
                background-color: $color-yellow-primary;
                animation-delay: 3s;
                animation-duration: 40s;
                bottom: -10rem;
            }
            &-2{
              right: 5%;
              background-color: $color-light-grey;
              animation-delay: 5s;
              animation-duration: 50s;
              bottom: -10rem;
            }
        }
    }

    &__tech {
      height: auto;
      width: 6rem;
      transition: all 0.3s;
    //   &:hover{
    //     filter: blur(4px);
    //   }

      //LEFT TECH ICONS
      &--tensor {
        // top:50%;
        left: 4%;
        animation-delay: 2s;
        animation-duration: 12s;
      }
      &--css {
        // top:10%;
        left: 12%;
        width: 4rem;
        animation-delay: 7s;
        animation-duration: 10s;
      }
      &--sass {
        //top:25%;
        width: 7rem;
        left: 20%;
        animation-delay: 4s;
        animation-duration: 8s;
      }
      &--mongo {
        // top:70%;
        left: 30%;
        width: 3rem;
        animation-delay: 0s;
        animation-duration: 10s;
      }

      //RIGHT TECH ICON
      &--node {
        //top:15%;
        right: 30%;
        animation-delay: 3s;
        animation-duration: 10s;
      }
      &--angular {
        //bottom:20%;
        right: 20%;
        animation-delay: 0s;
        animation-duration: 8s;
      }
      &--html {
        // bottom:10%;
        right: 10%;
        width: 4rem;
        animation-delay: 5s;
        animation-duration: 10s;
      }
      &--keras {
        // top:40%;
        right: 2%;
        width: 3rem;
        animation-delay: 6s;
        animation-duration: 10s;
      }
    }

    // &__circle{
    //     top: 70%;
    //     left: 80%;
    //     height: 0;
    //     width: 3rem;
    //     border-radius: 50%;
    //     background-color: $color-blue-primary;
    // }

    &:hover {
      transform: scale(1.2);
    }
  }
}
