
.story-section{
    height: 100vh;
    width: 100%;
    position: relative;
    //scroll-snap-align: start;
    &__intro{
        height: 100vh;
    }
    &__1{
        background-color: $color-yellow-primary;
    }
    &__2{
        background-color: $color-yellow-light;
       // padding-top: 10rem;
    }
    &__3{
        background-color: $color-yellow-primary;
       // padding-top: 25vh;
    }
    &__4{
        background-color: $color-yellow-light;
       // padding-top: 20vh;
       // height: 110vh;
    }
    &__5{
        background-color: $color-yellow-primary;
        //padding-top: 25vh;
    }
}

.story-img{
    position: relative;
    z-index: 10;
    // &__2{
    //     margin-top: 15vh;
    // }
    &__4{
        //margin-top: 20vh;
    }
}

