.icon{
    padding: 1rem;
    margin: 1rem 1rem 2rem;
    //border-bottom: 1px solid $color-yellow-primary;
    text-align: center;
    position: relative;

    &__border{
      height: 1.5px;
      width: 100%;
      background-color:$color-yellow-primary;
      position: absolute;
      bottom: 0;
      transform-origin: center;
      left: 0;
    }

    &__img{
        width: 65%;
        margin-bottom: 1.5rem;
        filter: brightness(0) invert(1);
    }
    &__text{
        font-weight: 700;
        font-size: 2rem;
        color: $color-yellow-dark;
    }

    &__tech {
      position: relative !important;
      box-sizing: border-box;
      margin: 1rem auto;
      padding: 1rem;
      max-width: 30rem;
      border-radius: 0.5rem;
     background: $color-dark;
      border-radius:1.4rem;
      //border: 1px solid $color-yellow-dark;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      min-height: 12rem;
      overflow: hidden;
      z-index: 2;
      cursor: none;
      transition: all 0.3s;

      &-img {
        width: 90%;
        margin: 0.2rem auto;
        z-index: 2;
        filter: grayscale(1) brightness(1.5);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.75);

        .icon__tech-img{
          filter: none;
        }
      }
    }

    &__footer{
      padding: 1.5rem 0;
      margin: 0 0 0 2rem;
      filter: brightness(0) invert(1);
      width: 2.6rem;
    }
}
