.team-member{
    display: flex;
    //flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 2rem;
    position: relative;

    
    &__img{
        z-index: 2;
        position: relative;
       // margin-left: 1rem;

        img{
            height: 300px;
            min-width: 200px;
            object-fit: cover;
            object-position: top center;
            position: relative;
            box-shadow: 0 1rem 2rem rgba($color-black,0.3);
            z-index: 2;
            filter: grayscale(1);
            transition: all 300ms;

            &:hover{
                filter: none;
            }
        }

        &-bg{
            width: 200px;
            height: 100%;
            position: absolute;
            top: 5%;
            left: 5%;
            transform-origin: left ;
            background-color: $color-yellow-dark;
            transition:all 0.3s;
            z-index: 1;
            }

        &:hover{
            ~ .team-member__img{
           
            &-bg{
               width: 100%;
            }
            }
             ~ .team-member__details > .team-member__details--name {
                    color: $color-white;
                    transform: translateY(-2px);
                    text-shadow: 0 1rem 2rem rgba($color-black,0.3);
                }
            
        }
    }
    &__details{
        padding: 2rem 3rem;
        padding-left: 4rem;
        margin-left: -1rem;
        position: relative;
      

        &--name{
            color: $color-yellow-dark;
            font-size: 3rem;
            font-weight: 700;
            position: relative;
            z-index: 2;
            padding:0.5rem;
            transition:all 0.3s;
        }
        &--designation{
            margin-top: 2rem;
            font-size: 1.5rem;
            color: $color-dark;
            position: relative;
            z-index: 2;
            transition:all 0.3s;
        }

       
    }
}
._3d-hover__item{
    position: relative;
}
.helper {
    color: white;
    padding: 0.2em;
    border-radius: 5%;
    background-color: grey;
    position: absolute;
    z-index: 0;
    display: none;
  }