@keyframes move_up1{
    0%{
        top: 100%;
    }
    100%{
       top:-10px;
    }
}

@keyframes move_up_normal{
   0%{
       transform:translateY(0);
   }
    100%{
        transform:translateY(-120vh);
    }
}

@keyframes move_up_rotate{
    0%{
        transform:translateY(0) rotate(0);
    }
     100%{
         transform:translateY(-120vh) rotate(360deg);
     }
 }

 @keyframes move_up_rotate_half{
    0%{
        transform:translateY(0) rotate(0);
    }
    50%{
        transform:translateY(-60vh) rotate(45deg);
    }
     100%{
         transform:translateY(-120vh) rotate(0);
     }
 }

 @keyframes move_up_rotate_fast{
    0%{
        transform:translateY(0) rotate(0);
    }
    50%{
        transform:translateY(-50vh) rotate(360deg);
    }
     100%{
         transform:translateY(-120vh) rotate(0);
     }
 }

 @keyframes move_up_pulse{
    0%{
        transform:translateY(0) scale(1);
    }
    25%{
        transform:translateY(-30vh) scale(0.5);
    }
    50%{
        transform:translateY(-55vh) scale(1);
    }
    75%{
        transform:translateY(-90vh) scale(0.5);
    }
     100%{
         transform:translateY(-120vh) scale(1);
     }
 }
 

 @keyframes fade_up{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
 }