*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 
}
html {
  font-size: 62.5%; //10px

  @include responsive(lg){
    font-size: 56.25%; // 9px
}

@include responsive(md){
    font-size: 50%; // 8px
}

@include responsive(sm){
    font-size: 50%; // 8px
}
@include responsive(xxs){
   font-size: 43.75%; //7px
}



}
body {
  margin: 0;
  padding: 0;
  cursor: none;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-yellow-primary;
  border-radius: 1rem;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-yellow-dark;
}

// .scroll-container{
//   overflow: hidden;
//   overflow-y: scroll;
//   height: 100vh;
//   background-color: $color-white;
//   transition: all 0.6s ease-in-out;
//   // &.bg-white{
//   //   background-color: $color-white;
//   // }
// }

img{
    max-width: 100%;
}
a {
  text-decoration: none;
  outline: none !important;
  cursor: none;
  transition: all 0.4s;
}

a:hover {
  text-decoration: none !important;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}

a:visited,
a:focus {
  outline: none;
}

p{
  font-weight: 600;
}
section{
  padding: $section-padding;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  transition: all 400ms;

  @include responsive(lg){
    min-height: 60rem;
    padding: 8rem 0;
  }
}