@font-face {
  font-family: Gilroy;
  src: url(../../fonts/Gilroy-Heavy.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Gilroy;
  src: url(../../fonts/Gilroy-ExtraBold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: Gilroy;
  src: url(../../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url(../../fonts/Gilroy-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url(../../fonts/Gilroy-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url(../../fonts/Gilroy-Light.ttf);
  font-weight: 400;
}

body {
  font-family: Gilroy;
  font-size: $default-font-size;
  font-weight: 600;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gilroy;
  font-weight: 800;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

.intro-heading {
  text-align: center;
  padding: 1rem;
  z-index: 4;

  &__primary {
    font-size: 20rem;
    font-weight: 700;
    letter-spacing: -1rem;

    @include responsive(lg){
      font-size: 18rem;
    }

    @include responsive(md){
      font-size: 16rem;
      letter-spacing: -0.9rem;
    }

    @include responsive(sm){
      font-size: 14rem;
      letter-spacing: -0.8rem;
    }

    @include responsive(xs){
      font-size: 10rem;
      letter-spacing: -0.6rem;
    }

    &--small {
      font-size: 12rem;
      letter-spacing: -0.65rem;

      @include responsive(lg){
        font-size: 10rem;
        letter-spacing: -0.4rem;
      }

      @include responsive(sm){
        font-size: 8rem;
        letter-spacing: -0.3rem;
      }

      @include responsive(xs){
        font-size: 6rem;
        letter-spacing: -0.2rem;
      }
    }
  }

  &__secondary {
    color: $color-black;
    font-size: 2rem;
    font-weight: 600;
    width: 75%;
    max-width: 700px;
    line-height: 1.5;
    margin: auto;
  }
}

.heading__part{
  display: inline-block;
  &:not(:last-child){
    margin-right: 10px;
  }
}
.heading {
  position: relative;
  z-index: 10;
  &__primary {
    word-spacing:0.5px;
    font-size: 6.5rem;
    letter-spacing: -0.15rem;
    margin-bottom: 4rem;
    position: relative;
    z-index: 10;
    &--small {
      font-size: 5rem;
      letter-spacing: -0.1rem;
      span {
        display: inline-block;
      }
    }
  }


  &__secondary {
    font-size: 3.5rem;
    color: $color-light;
    letter-spacing: -0.05rem;
  }
  &__tertiory {
    font-size: 1.8rem;
    color: $color-dark;
    opacity: 0.8;
  }
  &__color {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    letter-spacing: -0.1rem;
    color: $color-dark;
    
      margin-top: 1.5rem;
    

    &--1 {
      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        overflow: hidden;
        color: transparent;
        background-image: linear-gradient(
          to right,
          $color-blue-primary,
          $color-purple-primary
        );
        -webkit-background-clip: text;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      &:hover::after {
        width: 100%;
      }
    }

    @include responsive(lg){
      font-size: 3.5rem;
      margin-top: 3rem;
    }

    @include responsive(md){
      font-size: 3rem;
      margin-top: 4rem;
    }

    @include responsive(xs){
      font-size: 3rem;
      margin-top: 2rem;
    }
  }

  &-md{
    display: none !important;
  }
  @include responsive(md){
    &-lg{
      display: none !important;
    }
    &-md{
      display: block !important;
    }
  }
}
p{
  z-index: 1;
  position: relative;
}
.p {
  &__big {
    font-size: 1.8rem;
    font-weight: 800;
  }
  &__grey {
    color: $color-grey;
  }
  &__black {
    color: $color-black;
  }
  &__short {
    max-width: 500px;
    margin: auto;
  }
}

.char-wrap {
  position: relative;
}
