.text-dark{
    color: $color-dark;
}

.text-primary{
    color: $color-primary-yellow;
}

.text-primary-dark{
    color:$color-primary-yellow-dark;
}

.section-padding{
    padding: $section-padding;
}

