.text-dark{
    color: $color-dark !important;
}

.text-primary{
    color: $color-yellow-primary !important;
}

.text-primary-dark{
    color:$color-yellow-dark !important;
}

.section-padding{
    padding: $section-padding ;
}

.padding-small{
    padding: $section-padding-small;
}

.border-bottom-light{
    border-bottom: 1px solid rgba($color-yellow-light,0.2);
    padding-bottom: 4rem;
   
}

.border-left-light{
    border-left: 0.5px solid rgba($color-yellow-light,0.2);
    padding-left: 4rem;

    @include responsive(md){
        padding-left: 0;
        border:0
    }
}

.border-right-light{
    border-right: 0.5px solid rgba($color-yellow-light,0.2);
    padding-right: 4rem;

    @include responsive(md){
        padding-right: 0;
        border:0
    }
}

.absolute-bottom{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 4rem 0;

    @include responsive(md){
        bottom: 5%;
    }
  }

//margins

.margin-top-md{
    margin-top: 4rem;
}
  
.hidden{
    display: none;
}