//font size variables
$default-font-size:1.6rem;

//website colors 
$color-primary-yellow:rgb(255, 203, 79);
$color-primary-yellow-dark:rgb(255, 195, 37);
$color-primary-yellow-very-light:#fffbec;

$color-dark: #191716 ;
$color-black: #000;
$color-grey: rgb(90, 90, 90);
$color-light-grey: #ccc;
$color-white: #fff;
$color-light: #afae98;
$color-blue-dull:#083d77;
$color-blue-dark:#011638;
$color-blue-primary:#090ea6;
$color-purple-primary:#9b5de5;

//letter spacing values

$letter-spacing-n-huge: -1rem;
$letter-spacing-n-big:-0.5rem;
$letter-spacing-n-small:-0.05rem;

//margins and paddings

$section-padding: 8rem 12rem;
$section-padding-small: 2rem;



//color may needed

// #9b5de5  - purple
// #083d77 - blue
// #0d21a1 - blue bright

// #011638 - blue dark
// #fe4a49 - bright red
// #DB504A- dull red

// #080708 - dark