//font size variables
$default-font-size:1.6rem;

//website colors 
$color-primary-yellow:rgb(255, 203, 79);
$color-primary-yellow-dark:rgb(255, 195, 37);
$color-primary-yellow-very-light:#fffbec;
$color-secondary-blue:rgb(39, 92, 132);
$color-dark: #101010;
$color-black: #000;
$color-grey: rgb(90, 90, 90);
$color-light-grey: #ccc;
$color-white: #fff;
$color-light: #afae98;
$color-blue-primary:#090ea6;
$color-purple-primary:rgb(120, 0, 176);
//letter spacing values

$letter-spacing-n-huge: -1rem;
$letter-spacing-n-big:-0.5rem;
$letter-spacing-n-small:-0.05rem;

//margins and paddings

$section-padding: 8rem 12rem;
$section-padding-small: 2rem;